body {
    background-color: #1a1a1c;
}

#CpuName {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    margin: 5px;
}

#CpuNameText {
    color: #f4f4f6;
    margin: 5px;
}

#cpu-name-label, #CpuLoad, #CpuTemperature, #CpuSpeed {
    color: #c0c0c5;
}

#CpuName, #CpuLoadStatistics, #CpuTemperature, #CpuSpeed {
    background-color: #333337;
}

#CpuLoad {
    height: 100px;
    width: 511px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#CpuLoadStatistics {
    width: 35%;
    display: flex;
}

#CpuLoadGraph {
    background-color: #232327;
    width: 65%;
    display: flex;
}

#CpuTemperature {
    height: 100px;
    width: 511px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#CpuTemperatureStatistics {
    width: 35%;
    display: flex;
}

#CpuTemperatureGraph {
    background-color: #232327;
    width: 65%;
    display: flex;
}

#CpuSpeed {
    height: 100px;
    width: 511px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#CpuSpeedStatistics {
    width: 35%;
    display: flex;
}

#CpuSpeedGraph {
    background-color: #232327;
    width: 65%;
    display: flex;
}

#CpuLoadText, #CpuTemperatureText, #CpuSpeedText {
    padding-left: 10px;
    padding-top: 10px;
}
