body {
    background-color: #1a1a1c;
}

#CpuName {
    height: 50px;
    width: 550px;
    display: flex;
    align-items: center;
    text-align: left;
    padding-left: 10px;
    margin: 5px;
}

#CpuNameText {
    color: #f4f4f6;
    margin: 5px;
}

#cpu-name-label, #CpuLoad, #CpuTemperature, #CpuSpeed {
    color: #c0c0c5;
}

#CpuName, #CpuLoadStatistics, #CpuTemperature, #CpuSpeed {
    background-color: #333337;
}

#CpuLoad {
    height: 100px;
    width: 561px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.pb-load-container, .pb-temperature-container, .pb-speed-container {
    padding-left: 10px;
    padding-top: 20px;
    display: flex;
}

.pb-load, .pb-temperature, .pb-speed {
    width: 100px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #232327;
    overflow: hidden;
}

.pb-load-value, .pb-temperature-value, .pb-speed-value {
    width: 100px;
    height: 50px;
    background: lime;
    transform-origin: 50% 100%;
    transform: rotate(180deg);
}

.pb-load-center, .pb-temperature-center, .pb-speed-center {
    position: relative;
    width: 85px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: #333337;
    left: 8px;
    top: -42px;
}

#CpuTemperature {
    height: 100px;
    width: 561px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

#CpuSpeed {
    height: 100px;
    width: 561px;
    display: flex;
    flex-direction: row;
    margin: 5px;
}


#CpuLoadText, #CpuTemperatureText, #CpuSpeedText {
    padding-left: 10px;
    padding-top: 10px;
}

#CpuLoadStatistics, #CpuTemperatureStatistics, #CpuSpeedStatistics {
    width: 41%;
    display: block;
}

#cpu-load-label, #cpu-temperature-label, #cpu-speed-label {
    padding-left: 19px;
    padding-top: 10px;
    font-size: 24px;
    color: #f4f4f6;
}

#CpuLoadKeyData, #CpuTemperatureKeyData, #CpuSpeedKeyData {
    background-color: #232327;
    width: 59%;
    display: flex;
    flex-direction: column;
}

#max-load-description, #max-temperature-description, #max-speed-description {
    padding-left: 10px;
    padding-top: 10px;
}

#max-load-label, #max-temperature-label, #max-speed-label {
    padding-left: 20px;
    padding-top: 21px;
    font-size: 24px;
    color: #f4f4f6;
}
